.about-us {
  background: url("/background.png");
  background-position: center;
  background-size: cover;
  height: 70vh;
  position: relative;
  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba($color: black, $alpha: 0.4);
  }
  .container {
    position: relative;
    padding-top: 20px;
    text-align: center;
  }
  p {
    color: $paragraphColor;
    max-width: 900px;
    margin: 20px auto;
    b {
      color: $mainColor;
    }
  }
}
