.home {
  animation: fadeIn $mainTransition;
  position: relative;
  padding-bottom: 30px;
  @include balls(400, 400);
  overflow-x: hidden;
  margin-bottom: 50px;
  overflow-x: hidden;
  .welcome-heading {
    font-family: "Lovers Quarrel", cursive;
    color: $mainColor;
    text-align: center;
    font-size: 60px;
    padding: 10px 0;
    margin: 20px auto;
    font-display: swap;
    line-height: 1;
    @media (max-width: 576px) {
      font-size: 32px;
    }
  }
}
