//============ start colors ============
$backgroundColor: #121212;
$mainColor: #d2bd91;
$linearLift: #fff8a1;
$linearRight: #866d48;
$borderColor: #757575;
$cardBackground: #212121;
$ballsColor: #d9b05a;
$whiteColor: white;
$hrColor: rgba(
  $color: $mainColor,
  $alpha: 0.2,
);
$paragraphColor: #dbdbdb;
$outStock : #ffab01;
$inStock:#07ff07;
//============ end colors ============

//============ transition ============
$mainTransition: 0.4s;
//============ transition ============
